.header {
  background-color: #3a4d39;
  padding: 20px 0;
  font-size: 18px;
  color: white;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .brand-name {
      span {
        letter-spacing: 2px;
      }
    }

    .links {
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
